<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="news.css">
</head>
<body>
    <h1 class="news-h1">Новости</h1>
    <div class="news-content">
        <div class="cen">
            <img class="spin" src="images/news_spin.png" alt="">
            <p class="news-p">Бесшовные окна нового поколения с фильтрацией воздуха для вашего здоровья и безопасности</p>
        </div>
        <div class="cen">
            <img class="win" src="images/news_win.png" alt="">
            <p>Благодарственное письмо, которое мы получили от СЗГМУ им. И.И.Мечникова
        </div>
    </div>
</body>
</html>