<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="action.css">
</head>
<body>
    <div class="action-big">
        <h1 class="action-h1">Акции</h1>
        <div class="action-main">
            <div class="action-one">
                <p class="act-one-p">Оконный завод "Лабрадор" очень внимательно относится ко всем своим клиентам и регулярно дарит скидки заказчикам своих
                    окон. Пластиковые окна со скидкой можно заказать в наших офисах, следите за новостями с акциями нашего оконного
                    предприятия.
                    Бесшовные окна Века нашего производства не имеют альтернативы, так как только завод "Лабрадор" производит такие
                    красивые оконные конструкции.</p>
            </div>
            <div class="action-two">
                <img src="images/action_check.png" alt="">
                <p>Каждому нашему покупателю скидка 40% до 25 января 2023 года</p>
            </div>
            <div class="action-three">
                <img src="images/action_check.png" alt="">
                <p>Второй потолок в подарок при покупке в Лабрадор.</p>
            </div>
            <div class="action-four">
                <img src="images/action_check.png" alt="">
                <p>до 25 января 2023 (включительно) скидка 16% на все работы по обустройству крыши и усилению парапета</p>
            </div>
            <div class="action-five">
                <img src="images/action_check.png" alt="">
                <p>При обшивке/отделке лоджии или балкона - утепление в подарок!</p>
            </div>
        </div>
    </div>
</body>
</html>