<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="guest.css">
</head>
<body>
    <div class="guest-big">
        <h1 class="guest-h1">Отзывы</h1>
        <div class="guest-main">
            <div class="guest-one">
                <p class="one-p">Выражаю глубокую благодарность монтировщику окон Владимиру Майстренко! 12 часов тяжелой работы по установки 2-х окон
                в старом фонде. Профессионал! Аккуратно и упорно почти без перерывов. Уважительное отношение к заказчику. Достоин
                всяческого поощрения. Пример для подражания, ибо такие люди -лицо и имя вашей компании. Спасибо ещё раз.</p>
            </div>
            <div class="guest-two">
                <img class="two-img" src="images/guest_person.png" alt="">
                <p>Арзуманян Руслан</p>
                <p>23 мая 2022 г.</p>
            </div>
            <div class="guest-three">
                <img class="three-img" src="images/guest_aleksey.png" alt="">
                <p>Попов Алексей</p>
                <p>17 апреля 2022 г.</p> 
            </div>
        </div> 
    </div>
    
</body>
</html>