<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="final.css">
</head>
<body>
    <div class="final-big">
        <div class="final-main">
           <div class="final-one">
                <p>+7 (812) 458-78-78</p>
                <p>okna@labrador.ru </p> 
                <p>©2023 лабрадор</p>
            </div>
            <div class="final-two">
                <p>Реквизиты организации</p>
                <p>политика безопасности</p>
            </div>
            <div class="final-three">
                <p>представительства по россии</p>
                <p>строителям и дилерам</p>
                <p>Вакансии</p>
            </div> 
        </div>
        
    </div>
</body>
</html>