<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="intro-main">
      <div class="text">
        <div class="text-container">
          <h1 class="text-h1">Рассрочка 0% окна без переплат</h1>
          <div class="text-content">
            <div class="text-button">
              <p class="text-p">
                Уникальные бесшовные окна от Лабрадор в рассрочку. Беспроцентная
                рассрочка на пластиковые окна.
              </p>
              <button class="btn">Подробнее</button>
            </div>
            <img
              class="intro-window-image"
              src="images/intro_window.png"
              alt=""
            />
          </div>
        </div>
      </div>
      <div class="image">
        <img class="intro-image" src="images/intro.png" alt="" />
      </div>
    </div>
  </body>
</html>
