<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="rating.css" />
  </head>
  <body>
    <div class="rating-main">
      <div class="img">
        <img src="images/rating.png" alt="" />
      </div>
      <div class="rating-text">
        <div>
          <h1>
            В 2017 ГОДУ МЫ ЗАВОЕВАЛИ ПЕРВОЕ МЕСТО В РЕЙТИНГЕ СРЕДИ ОКОННЫХ
            КОМПАНИЙ В СЕВЕРО-ЗАПАДНОМ РЕГИОНЕ.
          </h1>
          <p>
            Оконный завод «Лабрадор» - победитель премии «Золотое окно 2017» в
            номинации "Лучшая оконная компания в северо-западном регионе".
          </p>
        </div>
        <button class="btn">Подробнее</button>
      </div>
    </div>
  </body>
</html>
