<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="location.css">
</head>
<body>
    <div class="location-big">
        <h1 class="loc-big-h1">ОФИСЪ ПРОДАЖ</h1>
        <div class="location-three">
            <h1>Центральный офис завода</h1>
            <p>ул. Курская, 21Б</p>
            <h2>подробнее</h2>
        </div>
        <div class="location-three">
            <h1>Ленинский проспект</h1>
            <p>Бульвар Новаторов, 13</p>
            <h2>подробнее</h2>
        </div>
        <div class="location-three">
            <h1>Ст. М. академическая</h1>
            <p>Гражданский пр., 70, к.1</p>
            <h2>подробнее</h2>
        </div>
        <div class="location-three">
            <h1>Коменданский проспект</h1>
            <p>ул. Уточкина, 2, к.1</p>
            <h2>подробнее</h2>
        </div>
    </div>
</body>
</html>