<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="store.css">
</head>
<body>
    <div class="store-big">
        <div>
            <img src="images/store_win.png" alt="">
        </div>
        <div class="store-section">
            <div class="data">
                <p>Январь</p>
                <p>2023</p>
            </div>
            <div class="store-content">
                <h1 class="store-h1">БЕСШОВНЫЕ ОКНА НОВОГО ПОКОЛЕНИЯ</h1>
                <div>
                    <p class="store-p">Кроме стандартных белых окон завод Лабрадор производит и цветные (окрашенные и ламинированные под дерево) БЕСШОВНЫЕ
                        ОКНА. По старой технологии (других производителей) отфрезерованные углы рамы и створки окна замазываются цветным
                        маркером. Получается, что все углы ламинированных окон других производителей подкрашены краской, которая очень
                        бросается в глаза и портит внешний вид оконных конструкций. Причем некрасивые «замазанные» швы видны с большого
                        расстояния и с внешней и с внутренней стороны окна.</p>
                </div>
                <div>
                    <button class="but">Подробнее</button>
                </div> 
            </div>
        </div>
    </div>
</body>
</html>