<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="order.css">
</head>
<body>
    <div class="order-big">
        <h1 class="order-h1">Заказать</h1>
        <div class="order-main">
            <div class="order-one">
                <p class="order-one-p">Замер окон производится бесплатно. Оставьте контакты и наш менеджер свяжется с вами</p>
            </div>
            <div class="order-two">
                <input type="text" placeholder="Имя" class="order-input">
                <input type="number" placeholder="телефон" class="order-input">
                <input type="text" placeholder="комментарий" class="order-input">
                <input type="text" placeholder="выберите удобный офис" class="order-input">
                <p>Нажимая «Отправить», Вы соглашаетесь на обработку персональных данных.</p>
                <button class="order-btn">отправить</button>
            </div> 
        </div>
        
    </div>
</body>
</html>